<h1 class="text-center">Messages to Monke</h1>

<p>
  <a href="#" class="btn btn-primary">Create New Message</a>
</p>

<% @articles.each do |article| %>
  <div class="row justify-content-center">
    <div class="col-8 mt-5">
      <div class="container">
        <div class="card">

          <div class="card-header">
            Featured
          </div>

          <div class="bg-gradient card-body">
            <h5 class="card-title"><%= article.title %></h5>
            <p class="card-text"><%= article.description %></p>

            <a href="#" class="btn btn-primary">View</a>
            <a href="#" class="btn btn-primary">Edit</a>
            <a href="#" class="btn btn-primary align-self-end">Delete</a>
          </div>

          <div class="card-footer text-muted">
            Dates go here.
          </div>

        </div>
      </div>
    </div>
  </div>

<% end %>