<%# Display error messages if submitted edit failed. %>
<%# @article variable is part of ArticlesController class, grabbed during edit method. %>

<% if @article.errors.any? %>
  <div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
    <strong>Oops! Double check the following:</strong>
    <%# TODO: Bootstrap js alerts doesn't seem to be loading, as the animations and buttons do not work for dismissing alert. %>
<!--    <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--      <span aria-hidden="true">&times;</span>-->
<!--    </button>-->

    <ul>
      <% @article.errors.full_messages.each do |error_message| %>
        <li>
          <div>
            <%= error_message %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>