<div class="container" id="home_container">
  <div class="jumbotron text-center">
    <div class="gradient_home">
      <div class="center">
        <h1 class="display-4" id="header-title-anim">Monke Message</h1>
        <p class="lead">Send a message to your favorite Monke around the world, and get a message back.</p>
        <hr class="my-4">
        <p>Did you know Monke can't read?</p>
        <p> Ah, that's okay. We'll read it for them! But how?</p>
        <p class="lead">
          <%= link_to('Tell me more', articles_path, method: :get, class: "btn btn-success") %>
        </p>
      </div>
    </div>
  </div>
</div>