// Include bootstrap to be able to override its styles from here.
// For css, you need to import from exact file name.
// Squiggly means importing from node_modules library root.
@import "~bootstrap/dist/css/bootstrap.css";

// -----------------------------------------
// Variables.
// #ffb300 awesome banana yellow.
// #23282e Good dark grey-blue.
$bg_color: #23282e;
$corner_radius: 5px;

// -----------------------------------------
// Navigation Bar.
.navbar {
  background-color: $bg_color !important;
  // High index so dropdown menus aren't covered up.
  z-index: 10;
}
.dropdown-menu {
  background-color: $bg_color + 5;
}
.dropdown-item {
  color: $bg_color + 100;
}
.btn-outline-success {
  border-color: $bg_color + 20;
}
.btn {
  background-color: $bg_color + 10;
}
.dropdown-divider {
  color: $bg_color + 100;
}
#navbar_search_form {
  background-color: $bg_color + 20;
  caret-color: $bg_color + 100;
  border-color: $bg_color + 50;
}

// -----------------------------------------
// Background video.
#MonkeLoop {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -3;
}
.wrapper {
  z-index: -3;
  position: absolute;
  width: 100%;
}
.gradient {
  background-image: linear-gradient(180deg, rgba($bg_color, 1) 5%, rgba($bg_color, 0.5));
  width: 100%;
  height: calc(100vh - 5px);
  min-height: 600px;
  object-fit: cover;
  position: relative;
  z-index: -2;
}

// -----------------------------------------
// Home page jumbo.
#home_container {
  margin-top: 100px;
}

.jumbotron {
  border-radius: $corner_radius;
  background-image: asset_url('monke_splash.jpg');
  opacity: 95%;
  background-position: center center;
  background-size: cover;
  height: 500px;
  z-index: 0;
}
.gradient_home {
  background-image: repeating-linear-gradient(90deg, rgba($bg_color, 0.8), rgba($bg_color, 0.2), rgba($bg_color, 0.8) 50%);
  width: 100%;
  height: 100%;
  border-radius: $corner_radius;
  object-fit: cover;
  position: relative;
  z-index: 0;
}
.center {
  vertical-align: middle;
  padding: 100px 0;
}

// -----------------------------------------
// Articles view.
.card {
  border-radius: $corner_radius;
  background-image: asset_url('monke_profile.jpg');
  background-position: center center;
  background-size: cover;
}

#create_new_message_btn {
  position: fixed;
  top: 75px;
  left: 20px;
}

.card-body {
  background: fade-out($bg_color, 0.4)
}

.card-header {
  background: fade-out($bg_color, 0.8)
}


// -----------------------------------------
// Footer.
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $bg_color;
  height: auto;
  color: white;
  text-align: left;
  // High index so dropdown menus aren't covered up.
  z-index: 10;
}

// -----------------------------------------
// All ruby page yields.
.ruby_yields {
  z-index: 1;
}