<!-- Navigation Bar. -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Monke Message</a>
    <!-- Dynamically collapsable into single button when width is small (mobile for example). -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">My Messages</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Monkes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Show Me Monke</a></li>
            <li><a class="dropdown-item" href="#">Monke Replies</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Monke: What Gives?</a></li>
          </ul>
        </li>
        <li>
          <form class="d-flex justify-center">
            <input class="form-control me-2" type="search" placeholder="Find Message or Monke" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </li>
      </ul>
      <nav class="navbar navbar-dark bg-dark">
        <form class="container-fluid justify-content-start">
          <button class="btn btn-outline-success me-2" type="button">Create Account</button>
          <button class="btn btn-sm btn-dark" type="button">Log In</button>
        </form>
      </nav>
    </div>
  </div>
</nav>